{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <main>
        <h1>Discos registrados:</h1>
        <div class="discsList">
            {% for disc in discs%}
                {% include 'itemCard.html' with disc=disc %}
            {%endfor%}
        </div>
    </main>
</body>
</html>