{% load static %}
<div class="itemCard">
    <h1>{{disc.name}}</h1>
    <div class='itemCard_info'>
        <p><strong>Nome:</strong> {{disc.name}}</p>
        <p><strong>Descrição:</strong> {{disc.description}}</p>
        <p><strong>Etiqueta fonográfica:</strong> {{disc.phonographicLabel}}</p>
        <p><strong>Ano:</strong> {{disc.year}}</p>
        <p><strong>País:</strong> {{disc.country}}</p>
        <p><strong>Genero:</strong> {{disc.genre}}</p>
        <p><strong>Quantidade:</strong> {{disc.amount}}</p>
    </div>
    <img src={% static 'icons/IconDisc.svg' %} />
</div>